
.chatbot-toggle-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #5a0909; 
  width:70px;
  color: white;
  border: none;
  border-radius: 50%;  
  padding: 15px 20px;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease-in-out; 
  z-index: 2000;
}

.chatbot-toggle-btn:hover {
  background-color: #460707; 
}

.my-chatbot-container.show {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}


.chatbot-header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chatbot-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chatbot-header-info h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.chatbot-header-info p {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.chatbot-body {
  flex: 1;
  background-color: #f9f9f9;
  overflow-y: auto;
  padding: 20px;

  gap: 10px;
}



.react-chatbot-kit-chat-header{
  display:none;
}
.react-chatbot-kit-chat-bot-avatar-container {
  display: none;
}


.react-chatbot-kit-chat-bot-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 50%; 
  overflow: hidden;
  background-color: #f1f0f0; 
  position: relative;
  left: -25px;
  top:-10px
}

.react-chatbot-kit-chat-bot-avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.react-chatbot-kit-chat-bot-message {
  background-color: #7c0a0a;
  padding: 10px;
  border-radius: 20px;
  border-top-left-radius: 0;
  font-size: 0.9rem;
  color: #fff;
  font-weight: medium;
  position: relative;
  width: 300px;
  margin-bottom: 20px;
  left: 5px;
  top:-10px;
  height:auto;
  text-align: left;
  white-space: pre-wrap; 
}
.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 0px 17.5px;

}
  
.my-chatbot-container {
  
  position: fixed;
  bottom: 20px;
  right: 90px;
  width: 400px;
  height: 600px;
padding-bottom: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 9999;
  display: none; 
  opacity: 0;
  transform: translateX(100%); 
  transition: transform 0.3s ease-in-out;
}
.react-chatbot-kit-user-avatar-container {
 display:none
}


.react-chatbot-kit-user-chat-message {
  background-color: #e8e7e7bc;
  padding: 10px;
  border-radius: 20px;
  border-top-right-radius: 0;
  font-size: 0.9rem;
  color: #000000;
  font-weight:500;
  position: relative;
  right: -80px;
  text-align: left;
  height: auto;
  max-width: 80%;
  word-wrap: break-word; 
  word-break: break-word; 
  white-space: pre-wrap; 
  overflow: hidden;
  box-sizing: border-box;
}


.react-chatbot-kit-chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  height:80px;
  padding: 12px 15px; 
  border: none; 
  border-radius: 0 0 25 25;
  background-color: #f3f4f6;
  font-size: 15px;
  color: #333;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
  resize: none;
  overflow-y: auto; 
  outline: none; 
  transition: background-color 0.3s, box-shadow 0.3s;
}

.react-chatbot-kit-chat-input:focus {
  background-color: #ffffff; 
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.2);
}


.react-chatbot-kit-chat-btn-send {
  position: absolute;
  right: 15px; 
  bottom: 20px;
  background-color: #9b2323; 
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.react-chatbot-kit-chat-btn-send::before {
  content: url('data:image/svg+xml;utf8,<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="M12 19V6M5 12l7-7 7 7"></path></svg>');
  width: 20px;
  height: 20px;
}

.react-chatbot-kit-chat-btn-send-icon{

  display: none;
}

.react-chatbot-kit-chat-btn-send:hover {
  background-color: #7a1414; 
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); 
}

.react-chatbot-kit-chat-btn-send:active {
  background-color: #922d2d;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
@media(max-width:500px ){
  .my-chatbot-container{
    left:10px;
    bottom: 70px;
    width:300px
  }
  .react-chatbot-kit-chat-bot-message{
    width:200px;
  }
  .chatbot-toggle-btn {
    width:60px;
    padding: 6px;
  }
}