.cats-links-container{
  display: flex;
  flex-direction: column;
    font-weight: bold;
    align-items: center;

}

.cats-name a{
    color: #ffabab;
    font-family: "Georgia", serif;
  font-size: 15px;
  font-weight: 670px;
  text-decoration: none;
  }
  
.cats-name a:hover{
color:rgb(120, 244, 228);
transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
  .cats-links-container a:hover{
 filter:brightness(1.4);
 color: rgb(120, 244, 228);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  }

  .i {
    color: rgb(220, 220, 184);
   text-decoration: none; /* إزالة الخط السفلي */
  
 }
