@keyframes backgroundChange {
  0% {
    background-color: #f7e0e0; 
  }
  50% {
    background-color: #faece2; 
  }
  100% {
    background-color: #f5dfeb; 
  }
}

body {
  background-color: #ddd3d3; 
  animation: backgroundChange 8s infinite;
}

.userfeedback-body {
  overflow-y: hidden;
}

.userfeedback-container {
  width: 100%;
  max-width: 1200px;
  margin: 130px auto;
  padding: 30px;
  font-family: "Playfair Display", serif;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  overflow-x: hidden;
}

.ssh-delete-btn {
  background-color: #f8f9fa;
  color: #dc3545;
  border-color: #dc3545;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s, background-color 0.3s;
  align-self: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
body {
  background-color: #ddd3d3; 
  animation: backgroundChange 8s infinite;
}
.ssh-delete-btn:hover {
  background-color: #dc3545;
  color: white;
  transform: translateY(-2px);
}

.ssh-TextArea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 8px;
  font-size: 16px;
  resize: vertical;
  background-color: #fff;

  border-color: #880223;
  background-color: #f8f9fa;
  box-sizing: border-box;
  transition: border-color 0.3s, background-color 0.3s;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 25px;
}

.ssh-TheFeedBacks {
  font-family: "Playfair Display", serif;
  font-size: 1.9rem;
  margin-bottom: 0px;
  width: 300px;
  margin-left: -30px;
  color: #fffdfb;

  background: #880223;
  padding:15px 20px 15px;
  border-radius: 0 50px 50px 0;
  text-align: left;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.ssh-Write {
  font-family: "Playfair Display", serif;
  font-size: 1.9rem;
  margin-bottom: 40px;
  width: 300px;
  margin-left: -30px;
  color: #fffdfb;
  background:#880223;
  padding:15px 20px 15px;
  border-radius: 0 50px 50px 0;
  text-align: left;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.ssh-TextArea:focus {
  border-color: #f4c542;
  background-color: #f8e4ec;
  outline: none;
}

.ssha-submit-btn {
  display: inline-block;
  background-color: #f8f9fa;
  color: #28a745;
  border-color: #28a745;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  align-self: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.ssha-submit-btn:hover {
  background-color: #28a745;
  color: white;
  transform: translateY(-2px);
}

.ssh-feedback-list {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin-bottom: 20px;
  gap: 20px;
  background-color: #880223;
}

.ssh-feedback-item {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #b0c4de;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  color: #880223;
}

.ssh-feedback-username {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #880223;
}

.star-rating-display {
  margin-top: 10px;
  font-size: 16px;
}

.stars-container {
  position: relative;
  display: inline-block;
  font-size: 2.4rem;
}

.ssh-CategoryRating-body {
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin-bottom: 20px;
  background-color: #880223;
}

.stars-filled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #f4c542;
  z-index: 1;
}

.stars-background {
  color: #ddd;
  z-index: 0;
}

.ssh-rating-category {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ssh-star-rating {
  display: flex;
  align-items: center;
}

.ssh-star {
  font-size: 30px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.ssh-star.filled-star {
  color: #f4c542;
}

.ssh-star:hover,
.ssh-star:hover~.ssh-star {
  color: #ffeb3b;
  transform: scale(1.2);
}

.ssh-feedback-item p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

@media (max-width: 1024px) {
  .ssh-feedback-item {
    padding: 15px;
    width: 100%;
  }

  .ssh-rating-category {
    flex-direction: column;
  }

  .submit-btn {
    font-size: 16px;
    padding: 10px 20px;
  }

  .ssh-star {
    font-size: 25px;
  }

  .ssh-feedback-item {
    padding: 12px;
    font-size: 14px;
  }
}

.TheText-ssh {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.ssha-user {
  font-size: 1.5rem;
}

